<div class="the-consult">

  <!-- sidebar -->
  <div class="sidebar animate__animated animate__fadeInLeft">
    <div class="title">
      <div class="desc">
        <h2>Archivo de consultas</h2>
        <span>{{ totalSessions | i18nPlural: pluralSessions }}</span>
      </div>
      <div class="add-content">
        <button class="c-button-icon">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
      </div>
    </div>

    <!-- session list -->
    <div id="sessions" class="sessions">
      <ul>
        @for (session of sessions; track session.id) {
          <li [class.active]="activeSession === session.id" (click)="selectSession(session.id)">
            <div class="icon-cont">
              <div class="icon-i">
                <fa-icon [icon]="['fas', 'diagram-predecessor']"></fa-icon>
              </div>
            </div>
            <div class="text">
              {{ session.date | date: 'dd/MM/YYYY HH:mm' }}
            </div>
            <div class="delete-cont">
              <div class="icon-i" (click)="deleteSession()">
                <fa-icon [icon]="['fas', 'minus']"></fa-icon>
              </div>
            </div>
          </li>
        } @empty {
          <li>No has hecho consultas</li>
        }
      </ul>
    </div>
    <!-- end session list -->

  </div>
  <!-- end sidebar -->

  <!-- chat expert -->
  <div class="chat animate__animated animate__fadeIn">

    <div class="chat-timeline">
      @for (history of historyList; track history.id) {
        <div class="item animate__animated animate__fadeIn">
          <div class="item-header">
            {{ APP_NAME }}
          </div>
          <div class="item-content">
            {{ history.aggravating }}

            <div class="options">

              <button class="option active" disabled>
                {{ history.answer_text }}
              </button>

            </div>
          </div>
        </div>
      } @empty {
        <div class="item animate__animated animate__fadeIn">
          <div class="item-header">
            {{ APP_NAME }}
          </div>
          <div class="item-content">
            <div class="typing">Esta sesión no tiene historial de actividad...</div>
          </div>
        </div>
      }
    </div>

  </div>
  <!-- end expert -->

  <div class="history animate__animated animate__fadeInRight">
    <div class="title">
      <h3>Historial</h3>
    </div>
    <div class="history-items">
      <ul>
        <li>
          <div class="time-icon">
            <fa-icon [icon]="['fas', 'clock-rotate-left']"></fa-icon>
          </div>
          <div class="item">
            10/10/2022 14:35 - Sí
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
