<h2 mat-dialog-title>Modificar regla {{ data.rule.question }}</h2>
<mat-dialog-content>
  @if (loading) {
    <div class="loading animate__animated animate__fadeIn">
      <fa-icon [icon]="['fas', 'circle-notch']" [animation]="'spin'"></fa-icon>
    </div>
  }

  <form class="form" [formGroup]="rule">
    <div class="mtr-1">
      <div class="group pds-5px">
        <label for="question">Pregunta</label>
        <input id="question" formControlName="question" class="control" autocomplete="off" placeholder="¿...?">
        <div class="error-message">Este campo es requerido</div>
      </div>
    </div>
    <div class="mtr-1">
      <div class="group pds-5px">
        <label for="article">Artículo</label>
        <select id="article" formControlName="article" class="input-control">
          @for (a of data.articles; track $index) {
            <option [value]="a.id">Artículo {{ a.number }} - {{ a.description }}</option>
          }
        </select>
        <div class="error-message">Este campo es requerido</div>
      </div>
    </div>

    <div class="title">
      <h5>Respuestas</h5>
    </div>
    <table class="data-table">
      <thead>
      <tr>
        <th>Respuesta</th>
        <th>Pregunta destino</th>
        <th>Sentencia</th>
        <th></th>
      </tr>
      </thead>
      <tbody formArrayName="answers">
        @for (a of answers.controls; track $index) {
          <tr [formGroupName]="$index">
            <td style="width: 33%">
              <input class="control" formControlName="description">
            </td>
            <td>
              <select class="control" formControlName="next_aggravating">
                <option value="">No tiene destino</option>
                @for (ans of data.rules; track $index) {
                  @if (data.rule.id! !== ans.id!) {
                    <option [value]="ans.id">{{ ans.id }} - {{ ans.question }}</option>
                  }
                }
              </select>
            </td>
            <td>
              <select class="control" formControlName="sentence">
                <option value="">No tiene sentencia</option>
                @for (ans of data.sentences; track $index) {
                  <option [value]="ans.id">{{ ans.id }} - {{ ans.description }}</option>
                }
              </select>
            </td>
            <td>
              @if ($index + 1 === answers.controls.length) {
                <button class="ellipsis-menu danger" (click)="removeAnswer( $index, a.get('id')?.value)">
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                </button>
              }
            </td>
          </tr>
        }
        @if (answers.controls.length === 0) {
          <tr>
            <td colspan="4" class="center">No tiene respuestas</td>
          </tr>
        }
      </tbody>
    </table>
    <button class="button primary small" (click)="addAnswer()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      Agregar respuesta
    </button>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="button mrr-1" [mat-dialog-close]="false">Cancelar</button>
  <button class="button primary" (click)="save()">Guardar</button>
</mat-dialog-actions>
