<h2 mat-dialog-title>Agregar nueva Ley</h2>
<mat-dialog-content>
  @if (loading) {
    <div class="loading animate__animated animate__fadeIn">
      <fa-icon [icon]="['fas', 'circle-notch']" [animation]="'spin'"></fa-icon>
    </div>
  }

  <form class="form" [formGroup]="form">
    <div class="grid-2">
      <div class="group pds-5px">
        <label for="number">Ley número #</label>
        <input id="number" type="number" formControlName="number" class="control w-200 text-uppercase" autocomplete="off">
        <div class="error-message">Este campo es requerido</div>
      </div>
      <div class="group pds-5px">
        <label for="title">Título</label>
        <input id="title" formControlName="title" class="control w-200" autocomplete="off">
        <div class="error-message">Este campo es requerido</div>
      </div>
    </div>
    <div class="mtr-1">
      <div class="group pds-5px">
        <label for="date">Fecha de ley</label>
        <input id="date" [inputMask]="dataMask" formControlName="date" class="control" autocomplete="off">
        <div class="error-message">Este campo es requerido</div>
      </div>
    </div>
    <div class="mtr-1">
      <div class="group pds-5px">
        <label for="description">Descripción</label>
        <textarea class="control" id="description" formControlName="description"></textarea>
        <div class="error-message">Este campo es requerido</div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="button mrr-1" mat-dialog-close>Cancelar</button>
  <button class="button primary" (click)="add()">Registrar</button>
</mat-dialog-actions>
