<!-- header control -->
<header id="header" class="animate__animated animate__fadeInDown">
  <div class="left">
    <div class="app-logo desktop" (click)="link(['/expert'])">
      <div class="icon-cont">
        <fa-icon [icon]="['fas', 'scale-balanced']"></fa-icon>
      </div>
      <span class="nametag">THEMIS</span>
    </div>
    <div class="app-logo mobile" (click)="isConsult ? toggleSessions() : link(['/expert'])">
      <div class="icon-cont">
        @if (isConsult) {
          <fa-icon [icon]="['fas', 'bars']"></fa-icon>
        } @else {
          <fa-icon [icon]="['fas', 'scale-balanced']"></fa-icon>
        }
      </div>
      <span class="nametag">THEMIS</span>
    </div>
  </div>
  <div class="center">
    <!-- -->
  </div>
  <div class="right">
    <div class="controls">

      <div #toggleUser class="user" (click)="toggleMenu()">
        <div class="name">{{ user?.name }} <span class="surname">{{ user?.surname }}</span></div>

        <div class="cover">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
        </div>
      </div>

      <div class="nav" [class.menu]="menu" #menuElement>
        <ul>
          <li (click)="link(['/expert/consult'])">
            <div class="icon">
              <div class="cover">
                <fa-icon [icon]="['fas', 'message']"></fa-icon>
              </div>
            </div>
            <div class="desc">Panel de consulta</div>
          </li>
          <!-- <li>
            <div class="icon">
              <div class="cover">
                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
              </div>
            </div>
            <div class="desc">Configuración</div>
          </li> -->
          @if (user!.role.name === 'SUPER') {
            <li (click)="link(['/expert/admin'])">
              <div class="icon">
                <div class="cover">
                  <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
                </div>
              </div>
              <div class="desc">Panel de administración</div>
            </li>
          }
          <li class="logout" (click)="logout()">
            <div class="icon">
              <div class="cover">
                <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"></fa-icon>
              </div>
            </div>
            <div class="desc">Cerrar sesión</div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>
<!-- end header control -->

<main id="main" [class.sidebar-toggled]="consultToggled">
  <router-outlet/>
</main>
