@import "variables";

.admin-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 1400px;
  margin: 8rem auto 5rem auto;
  background-color: $card-color;
  box-shadow: 10px 10px 10px rgba(black, .2), -10px -10px 10px rgba($dark-light-color, .2);
  border-radius: 8px;
  overflow: hidden;

  .sidebar {
    background-color: rgba($background-color, .3);
    grid: {
      column: {
        start: 1;
        end: 2;
      };
    };

    > ul {
      list-style-type: none;

      > li {
        a {
          display: block;
          padding: .8rem 1rem;
          transition: all 300ms;
          cursor: pointer;
          text-decoration: none;
          color: white;

          &.active,
          &:hover {
            background-color: rgba($dark-light-color-2, .9);
          }
        }

        .ng-fa-icon {
          margin-right: .8rem;
        }
      }
    }
  }

  .content {
    padding: 1rem;

    grid: {
      column: {
        start: 2;
        end: 6;
      }
    }
  }

  // sect
  .title {
    position: relative;

    .control {
      position: absolute;
      right: 0;
      top: .5rem;
    }
  }
}

.dash-control {
  margin-top: 1.5rem;

  .group {
    > label {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
