@import "variables";

.button {
  text-transform: uppercase;
  height: 40px;
  padding: 0 25px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba(black, .5);
  border: none;
  color: white;
  letter-spacing: 1.3px;
  transition: all 300ms;
  font-weight: 700;

  .ng-fa-icon {
    font-size: 16px;
    margin-right: .3rem;
  }

  &:disabled {
    cursor: default;
  }

  .icon {
    font-size: 18px;
    color: rgba(white, .6);
  }

  &:hover {
    background-color: rgba(black, .8);
  }

  &.large {
    min-width: 180px;
  }

  &.small {
    font-size: 12px;
    height: 30px;
    padding: 0 15px;
  }

  &.primary {
    background-color: $secondary-color;

    &:hover {
      background-color: rgba($secondary-color, .8);
    }

    &:disabled {
      background-color: rgba($secondary-color-light, .3);
    }
  }

  &.secondary {
    background-color: $secondary-color;

    &:hover {
      background-color: rgba($secondary-color, .8);
    }

    &:disabled {
      background-color: rgba($secondary-color, .3);
    }
  }
}

.c-button-icon {
  background-color: $dark-light-color-2;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba($secondary-text-color, .6);
  cursor: pointer;

  &:hover {
    background-color: $light-color-2;
    color: $secondary-color;
  }
}

.ellipsis-menu {
  background-color: $secondary-color;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    background-color: rgba($secondary-color, .8);
  }
}
