$background: hsl(156, 16%, 94%);
$neumorphism-a: hsl(206, 23%, 94%);
$neumorphism-b: hsl(217, 30%, 86%);
$light: hsl(0, 0%, 98%);
$gray: hsl(202, 4%, 64%);
$dark: hsl(0, 0%, 9%);
$primary: hsl(225, 72%, 59%);
