@import "variables";

.data-content {
  margin-top: 2rem;
}

.data-table {
  width: 100%;
  border-spacing: 0;

  thead {
    background-color: rgba($background-color, .6);

    th {
      padding: .5rem 0;
    }
  }

  tbody {
    td {
      padding: .5rem .5rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.right {
        text-align: right;
      }
    }
  }
}
