@import "variables";

footer {
  background-color: rgba($dark-light-color, .5);
  box-shadow: 0 -5px 8px rgba(black, .1);
  color: rgba($primary-text-color, .5);
  position: fixed;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
