@import "variables";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: $background-color;
  color: $primary-text-color;
}

// paddings
@each $padding in $paddings {
  .pd-#{$padding} {
    padding: $padding;
  }

  .pds-#{$padding} {
    padding: 0 $padding;
  }
}

// texts
.text-uppercase {
  text-transform: uppercase;
}

// margins
@each $margin in $rem-margins {
  .mrr-#{$margin} {
    margin-right: #{$margin}rem;
  }

  .mtr-#{$margin} {
    margin-top: #{$margin}rem;
  }
}

@each $margin in $px-margins {
  .mrp-#{$margin} {
    margin-right: #{$margin}px;
  }
}
