@import "variables";

header#header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($dark-light-color, .8);
  width: 100vw;
  height: $navbar-height;
  box-shadow: 0 5px 8px rgba(black, .1);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 9999;

  > .right,
  > .left {
    position: relative;
    grid: {
      row: {
        start: 1;
        end: 3;
      };
    };
  }

  > .center {
    position: relative;
    grid: {
      row: {
        start: 1;
        end: 3;
      };
      column: {
        start: 2;
        end: 4;
      };
    };
  }

  > .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    > .controls {
      padding-right: 1rem;
    }
  }
}
