@import "variables";

.mat-mdc-dialog-container {
  .mdc-dialog__surface {
    background-color: $card-color !important;
  }
}

.mat-mdc-dialog-actions {
  justify-content: end !important;
  background-color: rgba($background-color, .8);
}

.cdk-overlay-dark-backdrop {
  // backdrop-filter: blur(2px);
}
