$background-color: hsl(222, 47%, 11%);
$card-color: hsl(218, 48%, 14%);
$dark-light-color: hsl(219, 44%, 19%);
$dark-light-color-2: hsl(215, 38%, 20%);
$primary-color: hsl(283, 30%, 57%);
$secondary-color: hsl(262, 30%, 51%);
$secondary-color-light: hsl(262, 43%, 65%);
$tertiary-color: hsl(313, 42%, 73%);
$light-color: hsl(331, 76%, 90%);
$light-color-2: hsl(213, 97%, 87%);
$primary-text-color: hsl(218, 25%, 83%);
$secondary-text-color: hsl(213, 27%, 84%);
$danger-color: hsl(0, 93%, 47%);

// times
$transition: 1.2s;
$navbar-height: 70px;
$footer-height: 50px;
