$background-color: hsl(222, 47%, 11%);
$card-color: hsl(218, 48%, 14%);
$dark-light-color: hsl(219, 44%, 19%);
$primary-color: hsl(283, 30%, 57%);
$secondary-color: hsl(262, 30%, 51%);
$tertiary-color: hsl(313, 42%, 73%);
$light-color: hsl(331, 76%, 90%);
$primary-text-color: hsl(218, 25%, 83%);
$danger-color: hsl(0, 93%, 47%);

// times
$transition: 1.2s;
