@import "../../../theme/variables";

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    position: relative;
    background-color: $card-color;
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 10px 10px 10px rgba(black, .2), -10px -10px 10px rgba($dark-light-color, .2);
    overflow: hidden;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 600px;
      height: 100%;
      padding: 25px;
      transition: all $transition;
    }
  }
}
