@import "./../../../theme/colors";
@import "./../../../theme/times";

.login {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: $neumorphism-a;
  box-shadow: 10px 10px 10px $neumorphism-b, -10px -10px 10px $light;
  border-radius: 12px;
  overflow: hidden;

  @media(max-width: 1200px) {
    transform: scale(.7);
  }
  @media(max-width: 1000px) {
    transform: scale(.6);
  }
  @media(max-width: 800px) {
    transform: scale(.5);
  }
  @media(max-width: 600px) {
    transform: scale(.4);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 0;
    width: 600px;
    height: 100%;
    padding: 25px;

    background-color: $neumorphism-b;
    transition: $long-transition;

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
}
