<div class="animate__animated animate__fadeIn">
  <div class="title">
    <h2>Administración de roles</h2>
    <div class="desc">Panel de gestión de roles de usuario.</div>

    <div class="control">
      <button class="button primary small" (click)="openAdd()">
        <fa-icon [icon]="['fas', 'file-circle-plus']"></fa-icon>
        Nuevo rol
      </button>
    </div>
  </div>

  <div class="data-content">
    <table class="data-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Permisos</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @for (role of roles; track role.id!) {
          <tr>
            <td class="right">{{ role.id! }}</td>
            <td>{{ role.name }}</td>
            <td>{{ role.description }}</td>
            <td>{{ size( role.permissions! || [] ) }}</td>
            <td>
              <div>
                <button class="ellipsis-menu" [matMenuTriggerFor]="menu">
                  <fa-icon [icon]="['fas', 'ellipsis-vertical']"></fa-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <ul>
                    <li (click)="openPermissions(role)">
                      <fa-icon [icon]="['fas', 'lock-open']"></fa-icon>
                      Permisos
                    </li>
                    <li (click)="openEdit(role)">
                      <fa-icon [icon]="['fas', 'pencil']"></fa-icon>
                      Editar
                    </li>
                    <li class="delete" (click)="openDelete(role)">
                      <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                      Eliminar
                    </li>
                  </ul>
                </mat-menu>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
